/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@font-face {
  font-family: "Mono Social Icons Font";
  src: url("../fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("eot"), url("../fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
}
/* line 8, ../sass/_fonts.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 22, ../sass/_fonts.scss */
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 48px;
}

/* line 2, ../sass/_campaignchart.scss */
.chartHost {
  -ms-grid-row: 2;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-pack: start;
  -ms-flex-align: center;
}

/* line 13, ../sass/_campaignchart.scss */
.campaignChart {
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 2fr 1fr;
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  background-color: lightgrey;
}

/* line 24, ../sass/_campaignchart.scss */
.superProgress {
  -ms-grid-column-align: end;
  -ms-grid-row-align: center;
  width: 100%;
  height: 150px;
  background-color: white;
  overflow: hidden;
  overflow-x: auto;
}

/* line 34, ../sass/_campaignchart.scss */
.superProgress .surface {
  width: auto;
  height: 100%;
  display: -ms-flexbox;
  -ms-flex-pack: start;
  -ms-flex-align: stretch;
  -ms-flex-direction: row;
  font: normal 14pt 'Segoe UI';
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 48, ../sass/_campaignchart.scss */
.superProgress .sourceBlock {
  width: calc(100% - 10px);
  min-width: 150px;
  max-width: 100%;
  height: calc(100% - 30px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr auto 1fr;
  background-color: green;
  transition: opacity ease 400ms, transform ease-out 300ms;
  opacity: 0;
  transform: translateY(-30px);
}

/* line 66, ../sass/_campaignchart.scss */
.superProgress .sourceBlock.on {
  opacity: 1;
  transform: translateY(0);
}

/* line 73, ../sass/_campaignchart.scss */
.superProgress .sourceBlock .glyph {
  -ms-grid-row-align: start;
  -ms-grid-column-align: end;
  -ms-grid-row-span: 3;
  margin: 10px;
  width: 30px;
  height: 30px;
  background-image: url("/images/twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}

/* line 86, ../sass/_campaignchart.scss */
.superProgress .sourceBlock .srcText {
  margin-left: 20px;
  -ms-grid-row: 2;
  z-index: 999;
}

/* line 92, ../sass/_campaignchart.scss */
.superProgress .sourceBlock .srcText div {
  margin-bottom: 10px;
}

/* line 96, ../sass/_campaignchart.scss */
.superProgress .sourceBlock .srcText .editable {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 100, ../sass/_campaignchart.scss */
.superProgress .sourceBlock .srcText .editable:focus {
  background-color: rgba(255, 255, 255, 0.7);
  color: green;
}

/* line 105, ../sass/_campaignchart.scss */
.superProgress .sourceBlock progress {
  -ms-grid-row-span: 3;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.4);
}

/* line 112, ../sass/_campaignchart.scss */
.outBalls {
  -ms-grid-column: 2;
  -ms-grid-row-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: start;
  -ms-flex-direction: row;
}

/* line 120, ../sass/_campaignchart.scss */
.outBalls .ball {
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 50px 50px;
  background-color: rgba(0, 128, 0, 0.4);
  margin-left: 20px;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
  color: white;
  transition: opacity ease 400ms, transform ease-out 300ms;
  transform: translateY(-30px);
  opacity: 0;
}

/* line 136, ../sass/_campaignchart.scss */
.outBalls .ball.on {
  opacity: 1;
  transform: translateY(0);
}

/* line 141, ../sass/_campaignchart.scss */
.outBalls .ball.active {
  background-color: yellow;
}

/* line 145, ../sass/_campaignchart.scss */
.outBalls .ball div {
  font-size: 36pt;
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}

/* line 8, ../sass/style.scss */
body {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
}

/* line 15, ../sass/style.scss */
.container {
  min-height: 650px;
  height: 100%;
}

/* line 24, ../sass/style.scss */
.campaign h3, .campaign h2 {
  color: #a3a3a4;
}
/* line 27, ../sass/style.scss */
.campaign button {
  float: left;
  margin-top: 18px;
}
/* line 29, ../sass/style.scss */
.campaign button.btn-default {
  color: #a3a3a4;
}
/* line 36, ../sass/style.scss */
.campaign h2.create-title {
  color: #a3a3a4;
  float: left;
  text-indent: 10px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
}
/* line 45, ../sass/style.scss */
.campaign h3 {
  text-transform: uppercase;
  font-size: 18px;
}
/* line 52, ../sass/style.scss */
.campaign button.submit {
  height: 50px;
  width: 200px;
  background-color: #084ca1;
  color: #fff;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
/* line 62, ../sass/style.scss */
.campaign button.submit:hover {
  background-color: #f0bf08;
}
/* line 69, ../sass/style.scss */
.campaign h2.results-title {
  color: #0D54FF;
}
/* line 73, ../sass/style.scss */
.campaign icon {
  color: #a3a3a4;
}

/* line 78, ../sass/style.scss */
.results-list {
  list-style-type: none;
  -webkit-padding-start: 0px;
  margin-top: 20px;
}
/* line 83, ../sass/style.scss */
.results-list li {
  border-top: thin solid #efefef;
  border-bottom: thin solid #efefef;
  min-height: 60px;
}
/* line 88, ../sass/style.scss */
.results-list li h3 {
  font-weight: 300;
}
/* line 91, ../sass/style.scss */
.results-list li .open-btn {
  transform: rotate(0deg);
  margin-top: 15px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
/* line 99, ../sass/style.scss */
.results-list li .results-expanded {
  height: 0px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
/* line 111, ../sass/style.scss */
.results-list li.selected .open-btn {
  transform: rotate(90deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
/* line 119, ../sass/style.scss */
.results-list li.selected .results-expanded {
  height: 400px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/* line 130, ../sass/style.scss */
.results-title {
  font-weight: 300;
  margin-bottom: 18px;
  font-size: 24px;
  color: #0D54FF;
}

/* line 140, ../sass/style.scss */
.form-control {
  height: 55px;
}

/* line 143, ../sass/style.scss */
.campaign-item {
  display: none;
}

/* line 148, ../sass/style.scss */
header {
  background-color: #0D54FF;
  height: 200px;
}
/* line 151, ../sass/style.scss */
header h1 {
  margin: 0px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  line-height: 200px;
}

/* line 160, ../sass/style.scss */
.title-inputs {
  /*background-color:$yellow;*/
  height: 75px;
  border-right: thin white solid;
  border-top: thin white solid;
}
/* line 166, ../sass/style.scss */
.title-inputs h2 {
  color: #a3a3a4;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

/* line 174, ../sass/style.scss */
.title-output {
  /*background-color:$pink;*/
  height: 75px;
  border-top: thin white solid;
}
/* line 180, ../sass/style.scss */
.title-output h2 {
  color: #a3a3a4;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}

/* line 188, ../sass/style.scss */
.title-campaign {
  border-right: thin white solid;
  border-top: thin white solid;
  /*background-color:$blue;*/
  height: 75px;
}
/* line 194, ../sass/style.scss */
.title-campaign h2 {
  color: #a3a3a4;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

/* line 201, ../sass/style.scss */
.input-list {
  list-style-type: none;
  margin: 0px;
  -webkit-padding-start: 0px;
}
/* line 207, ../sass/style.scss */
.input-list li {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  color: #a3a3a4;
  height: 65px;
  border-bottom: thin solid #efefef;
}
/* line 216, ../sass/style.scss */
.input-list li:hover {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  background-color: #0D54FF;
  color: #fff;
}
/* line 225, ../sass/style.scss */
.input-list li span {
  font-size: 24px;
  width: 25px;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}
/* line 233, ../sass/style.scss */
.input-list li h3 {
  text-align: center;
  line-height: 65px;
  font-size: 14px;
  margin: 0px;
  float: left;
  text-indent: 5px;
}

/* line 246, ../sass/style.scss */
.output-list {
  list-style-type: none;
  margin: 0px;
  -webkit-padding-start: 0px;
}
/* line 252, ../sass/style.scss */
.output-list li {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  color: #a3a3a4;
  height: 65px;
  border-bottom: thin solid #efefef;
}
/* line 261, ../sass/style.scss */
.output-list li:hover {
  background-color: #0D54FF;
  color: #fff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
/* line 270, ../sass/style.scss */
.output-list li icon {
  float: left;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 20px;
}
/* line 276, ../sass/style.scss */
.output-list li h3 {
  text-align: center;
  line-height: 65px;
  font-size: 14px;
  margin: 0px;
  float: left;
  text-indent: 5px;
}

/* line 290, ../sass/style.scss */
.socicon {
  font-family: 'socicon' !important;
}

/* line 295, ../sass/style.scss */
.socicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'socicon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 305, ../sass/style.scss */
.socicon:empty {
  width: 1em;
}

/* line 309, ../sass/style.scss */
.socicon-easid:before {
  content: "5";
}

/* line 310, ../sass/style.scss */
.socicon-twitter:before {
  content: "a";
}

/* line 311, ../sass/style.scss */
.socicon-facebook:before {
  content: "b";
}

/* line 312, ../sass/style.scss */
.socicon-google:before {
  content: "c";
}

/* line 313, ../sass/style.scss */
.socicon-pinterest:before {
  content: "d";
}

/* line 314, ../sass/style.scss */
.socicon-foursquare:before {
  content: "e";
}

/* line 315, ../sass/style.scss */
.socicon-yahoo:before {
  content: "f";
}

/* line 316, ../sass/style.scss */
.socicon-skype:before {
  content: "g";
}

/* line 317, ../sass/style.scss */
.socicon-yelp:before {
  content: "h";
}

/* line 318, ../sass/style.scss */
.socicon-feedburner:before {
  content: "i";
}

/* line 319, ../sass/style.scss */
.socicon-linkedin:before {
  content: "j";
}

/* line 320, ../sass/style.scss */
.socicon-viadeo:before {
  content: "k";
}

/* line 321, ../sass/style.scss */
.socicon-xing:before {
  content: "l";
}

/* line 322, ../sass/style.scss */
.socicon-myspace:before {
  content: "m";
}

/* line 323, ../sass/style.scss */
.socicon-soundcloud:before {
  content: "n";
}

/* line 324, ../sass/style.scss */
.socicon-spotify:before {
  content: "o";
}

/* line 325, ../sass/style.scss */
.socicon-grooveshark:before {
  content: "p";
}

/* line 326, ../sass/style.scss */
.socicon-lastfm:before {
  content: "q";
}

/* line 327, ../sass/style.scss */
.socicon-youtube:before {
  content: "r";
}

/* line 328, ../sass/style.scss */
.socicon-vimeo:before {
  content: "s";
}

/* line 329, ../sass/style.scss */
.socicon-dailymotion:before {
  content: "t";
}

/* line 330, ../sass/style.scss */
.socicon-vine:before {
  content: "u";
}

/* line 331, ../sass/style.scss */
.socicon-flickr:before {
  content: "v";
}

/* line 332, ../sass/style.scss */
.socicon-500px:before {
  content: "w";
}

/* line 333, ../sass/style.scss */
.socicon-instagram:before {
  content: "x";
}

/* line 334, ../sass/style.scss */
.socicon-wordpress:before {
  content: "y";
}

/* line 335, ../sass/style.scss */
.socicon-tumblr:before {
  content: "z";
}

/* line 336, ../sass/style.scss */
.socicon-blogger:before {
  content: "A";
}

/* line 337, ../sass/style.scss */
.socicon-technorati:before {
  content: "B";
}

/* line 338, ../sass/style.scss */
.socicon-reddit:before {
  content: "C";
}

/* line 339, ../sass/style.scss */
.socicon-dribbble:before {
  content: "D";
}

/* line 340, ../sass/style.scss */
.socicon-stumbleupon:before {
  content: "E";
}

/* line 341, ../sass/style.scss */
.socicon-digg:before {
  content: "F";
}

/* line 342, ../sass/style.scss */
.socicon-envato:before {
  content: "G";
}

/* line 343, ../sass/style.scss */
.socicon-behance:before {
  content: "H";
}

/* line 344, ../sass/style.scss */
.socicon-delicious:before {
  content: "I";
}

/* line 345, ../sass/style.scss */
.socicon-deviantart:before {
  content: "J";
}

/* line 346, ../sass/style.scss */
.socicon-forrst:before {
  content: "K";
}

/* line 347, ../sass/style.scss */
.socicon-play:before {
  content: "L";
}

/* line 348, ../sass/style.scss */
.socicon-zerply:before {
  content: "M";
}

/* line 349, ../sass/style.scss */
.socicon-wikipedia:before {
  content: "N";
}

/* line 350, ../sass/style.scss */
.socicon-apple:before {
  content: "O";
}

/* line 351, ../sass/style.scss */
.socicon-flattr:before {
  content: "P";
}

/* line 352, ../sass/style.scss */
.socicon-github:before {
  content: "Q";
}

/* line 353, ../sass/style.scss */
.socicon-chimein:before {
  content: "R";
}

/* line 354, ../sass/style.scss */
.socicon-friendfeed:before {
  content: "S";
}

/* line 355, ../sass/style.scss */
.socicon-newsvine:before {
  content: "T";
}

/* line 356, ../sass/style.scss */
.socicon-identica:before {
  content: "U";
}

/* line 357, ../sass/style.scss */
.socicon-bebo:before {
  content: "V";
}

/* line 358, ../sass/style.scss */
.socicon-zynga:before {
  content: "W";
}

/* line 359, ../sass/style.scss */
.socicon-steam:before {
  content: "X";
}

/* line 360, ../sass/style.scss */
.socicon-xbox:before {
  content: "Y";
}

/* line 361, ../sass/style.scss */
.socicon-windows:before {
  content: "Z";
}

/* line 362, ../sass/style.scss */
.socicon-outlook:before {
  content: "1";
}

/* line 363, ../sass/style.scss */
.socicon-coderwall:before {
  content: "2";
}

/* line 364, ../sass/style.scss */
.socicon-tripadvisor:before {
  content: "3";
}

/* line 365, ../sass/style.scss */
.socicon-netcodes:before {
  content: "4";
}

/* line 366, ../sass/style.scss */
.socicon-lanyrd:before {
  content: "7";
}

/* line 367, ../sass/style.scss */
.socicon-slideshare:before {
  content: "8";
}

/* line 368, ../sass/style.scss */
.socicon-buffer:before {
  content: "9";
}

/* line 369, ../sass/style.scss */
.socicon-rss:before {
  content: ",";
}

/* line 370, ../sass/style.scss */
.socicon-vkontakte:before {
  content: ";";
}

/* line 371, ../sass/style.scss */
.socicon-disqus:before {
  content: ":";
}
