/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@font-face {
  font-family: "Mono Social Icons Font";
  src: url("../fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("eot"), url("../fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
}
/* line 8, ../sass/_fonts.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 22, ../sass/_fonts.scss */
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 48px;
}

/* line 7, ../sass/style.scss */
body {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
}

/* line 14, ../sass/style.scss */
.container {
  min-height: 650px;
  height: 100%;
}

/* line 23, ../sass/style.scss */
.campaign h3, .campaign h2 {
  color: #a3a3a4;
}
/* line 26, ../sass/style.scss */
.campaign button {
  float: left;
  margin-top: 18px;
}
/* line 28, ../sass/style.scss */
.campaign button.btn-default {
  color: #a3a3a4;
}
/* line 35, ../sass/style.scss */
.campaign h2.create-title {
  color: #a3a3a4;
  float: left;
  text-indent: 10px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
}
/* line 44, ../sass/style.scss */
.campaign h3 {
  text-transform: uppercase;
  font-size: 18px;
}
/* line 51, ../sass/style.scss */
.campaign button.submit {
  height: 50px;
  width: 200px;
  background-color: #084ca1;
  color: #fff;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
/* line 61, ../sass/style.scss */
.campaign button.submit:hover {
  background-color: #f0bf08;
}
/* line 68, ../sass/style.scss */
.campaign h2.results-title {
  color: #0D54FF;
}
/* line 72, ../sass/style.scss */
.campaign icon {
  color: #a3a3a4;
}

/* line 77, ../sass/style.scss */
.results-list {
  list-style-type: none;
  -webkit-padding-start: 0px;
  margin-top: 20px;
}
/* line 82, ../sass/style.scss */
.results-list li {
  border-top: thin solid #efefef;
  border-bottom: thin solid #efefef;
  min-height: 60px;
}
/* line 87, ../sass/style.scss */
.results-list li h3 {
  font-weight: 300;
}
/* line 90, ../sass/style.scss */
.results-list li .open-btn {
  transform: rotate(0deg);
  margin-top: 15px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
/* line 98, ../sass/style.scss */
.results-list li .results-expanded {
  height: 0px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
/* line 110, ../sass/style.scss */
.results-list li.selected .open-btn {
  transform: rotate(90deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
/* line 118, ../sass/style.scss */
.results-list li.selected .results-expanded {
  height: 400px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/* line 129, ../sass/style.scss */
.results-title {
  font-weight: 300;
  margin-bottom: 18px;
  font-size: 24px;
  color: #0D54FF;
}

/* line 139, ../sass/style.scss */
.form-control {
  height: 55px;
}

/* line 142, ../sass/style.scss */
.campaign-item {
  display: none;
}

/* line 147, ../sass/style.scss */
header {
  background-color: #0D54FF;
  height: 200px;
}
/* line 150, ../sass/style.scss */
header h1 {
  margin: 0px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  line-height: 200px;
}

/* line 159, ../sass/style.scss */
.title-inputs {
  /*background-color:$yellow;*/
  height: 75px;
  border-right: thin white solid;
  border-top: thin white solid;
}
/* line 165, ../sass/style.scss */
.title-inputs h2 {
  color: #a3a3a4;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

/* line 173, ../sass/style.scss */
.title-output {
  /*background-color:$pink;*/
  height: 75px;
  border-top: thin white solid;
}
/* line 179, ../sass/style.scss */
.title-output h2 {
  color: #a3a3a4;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}

/* line 187, ../sass/style.scss */
.title-campaign {
  border-right: thin white solid;
  border-top: thin white solid;
  /*background-color:$blue;*/
  height: 75px;
}
/* line 193, ../sass/style.scss */
.title-campaign h2 {
  color: #a3a3a4;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

/* line 200, ../sass/style.scss */
.input-list {
  list-style-type: none;
  margin: 0px;
  -webkit-padding-start: 0px;
}
/* line 206, ../sass/style.scss */
.input-list li {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  color: #a3a3a4;
  height: 65px;
  border-bottom: thin solid #efefef;
}
/* line 215, ../sass/style.scss */
.input-list li:hover {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  background-color: #0D54FF;
  color: #fff;
}
/* line 224, ../sass/style.scss */
.input-list li span {
  font-size: 24px;
  width: 25px;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}
/* line 232, ../sass/style.scss */
.input-list li h3 {
  text-align: center;
  line-height: 65px;
  font-size: 14px;
  margin: 0px;
  float: left;
  text-indent: 5px;
}

/* line 245, ../sass/style.scss */
.output-list {
  list-style-type: none;
  margin: 0px;
  -webkit-padding-start: 0px;
}
/* line 251, ../sass/style.scss */
.output-list li {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  color: #a3a3a4;
  height: 65px;
  border-bottom: thin solid #efefef;
}
/* line 260, ../sass/style.scss */
.output-list li:hover {
  background-color: #0D54FF;
  color: #fff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
/* line 269, ../sass/style.scss */
.output-list li icon {
  float: left;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 20px;
}
/* line 275, ../sass/style.scss */
.output-list li h3 {
  text-align: center;
  line-height: 65px;
  font-size: 14px;
  margin: 0px;
  float: left;
  text-indent: 5px;
}

/* line 289, ../sass/style.scss */
.socicon {
  font-family: 'socicon' !important;
}

/* line 294, ../sass/style.scss */
.socicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'socicon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 304, ../sass/style.scss */
.socicon:empty {
  width: 1em;
}

/* line 308, ../sass/style.scss */
.socicon-easid:before {
  content: "5";
}

/* line 309, ../sass/style.scss */
.socicon-twitter:before {
  content: "a";
}

/* line 310, ../sass/style.scss */
.socicon-facebook:before {
  content: "b";
}

/* line 311, ../sass/style.scss */
.socicon-google:before {
  content: "c";
}

/* line 312, ../sass/style.scss */
.socicon-pinterest:before {
  content: "d";
}

/* line 313, ../sass/style.scss */
.socicon-foursquare:before {
  content: "e";
}

/* line 314, ../sass/style.scss */
.socicon-yahoo:before {
  content: "f";
}

/* line 315, ../sass/style.scss */
.socicon-skype:before {
  content: "g";
}

/* line 316, ../sass/style.scss */
.socicon-yelp:before {
  content: "h";
}

/* line 317, ../sass/style.scss */
.socicon-feedburner:before {
  content: "i";
}

/* line 318, ../sass/style.scss */
.socicon-linkedin:before {
  content: "j";
}

/* line 319, ../sass/style.scss */
.socicon-viadeo:before {
  content: "k";
}

/* line 320, ../sass/style.scss */
.socicon-xing:before {
  content: "l";
}

/* line 321, ../sass/style.scss */
.socicon-myspace:before {
  content: "m";
}

/* line 322, ../sass/style.scss */
.socicon-soundcloud:before {
  content: "n";
}

/* line 323, ../sass/style.scss */
.socicon-spotify:before {
  content: "o";
}

/* line 324, ../sass/style.scss */
.socicon-grooveshark:before {
  content: "p";
}

/* line 325, ../sass/style.scss */
.socicon-lastfm:before {
  content: "q";
}

/* line 326, ../sass/style.scss */
.socicon-youtube:before {
  content: "r";
}

/* line 327, ../sass/style.scss */
.socicon-vimeo:before {
  content: "s";
}

/* line 328, ../sass/style.scss */
.socicon-dailymotion:before {
  content: "t";
}

/* line 329, ../sass/style.scss */
.socicon-vine:before {
  content: "u";
}

/* line 330, ../sass/style.scss */
.socicon-flickr:before {
  content: "v";
}

/* line 331, ../sass/style.scss */
.socicon-500px:before {
  content: "w";
}

/* line 332, ../sass/style.scss */
.socicon-instagram:before {
  content: "x";
}

/* line 333, ../sass/style.scss */
.socicon-wordpress:before {
  content: "y";
}

/* line 334, ../sass/style.scss */
.socicon-tumblr:before {
  content: "z";
}

/* line 335, ../sass/style.scss */
.socicon-blogger:before {
  content: "A";
}

/* line 336, ../sass/style.scss */
.socicon-technorati:before {
  content: "B";
}

/* line 337, ../sass/style.scss */
.socicon-reddit:before {
  content: "C";
}

/* line 338, ../sass/style.scss */
.socicon-dribbble:before {
  content: "D";
}

/* line 339, ../sass/style.scss */
.socicon-stumbleupon:before {
  content: "E";
}

/* line 340, ../sass/style.scss */
.socicon-digg:before {
  content: "F";
}

/* line 341, ../sass/style.scss */
.socicon-envato:before {
  content: "G";
}

/* line 342, ../sass/style.scss */
.socicon-behance:before {
  content: "H";
}

/* line 343, ../sass/style.scss */
.socicon-delicious:before {
  content: "I";
}

/* line 344, ../sass/style.scss */
.socicon-deviantart:before {
  content: "J";
}

/* line 345, ../sass/style.scss */
.socicon-forrst:before {
  content: "K";
}

/* line 346, ../sass/style.scss */
.socicon-play:before {
  content: "L";
}

/* line 347, ../sass/style.scss */
.socicon-zerply:before {
  content: "M";
}

/* line 348, ../sass/style.scss */
.socicon-wikipedia:before {
  content: "N";
}

/* line 349, ../sass/style.scss */
.socicon-apple:before {
  content: "O";
}

/* line 350, ../sass/style.scss */
.socicon-flattr:before {
  content: "P";
}

/* line 351, ../sass/style.scss */
.socicon-github:before {
  content: "Q";
}

/* line 352, ../sass/style.scss */
.socicon-chimein:before {
  content: "R";
}

/* line 353, ../sass/style.scss */
.socicon-friendfeed:before {
  content: "S";
}

/* line 354, ../sass/style.scss */
.socicon-newsvine:before {
  content: "T";
}

/* line 355, ../sass/style.scss */
.socicon-identica:before {
  content: "U";
}

/* line 356, ../sass/style.scss */
.socicon-bebo:before {
  content: "V";
}

/* line 357, ../sass/style.scss */
.socicon-zynga:before {
  content: "W";
}

/* line 358, ../sass/style.scss */
.socicon-steam:before {
  content: "X";
}

/* line 359, ../sass/style.scss */
.socicon-xbox:before {
  content: "Y";
}

/* line 360, ../sass/style.scss */
.socicon-windows:before {
  content: "Z";
}

/* line 361, ../sass/style.scss */
.socicon-outlook:before {
  content: "1";
}

/* line 362, ../sass/style.scss */
.socicon-coderwall:before {
  content: "2";
}

/* line 363, ../sass/style.scss */
.socicon-tripadvisor:before {
  content: "3";
}

/* line 364, ../sass/style.scss */
.socicon-netcodes:before {
  content: "4";
}

/* line 365, ../sass/style.scss */
.socicon-lanyrd:before {
  content: "7";
}

/* line 366, ../sass/style.scss */
.socicon-slideshare:before {
  content: "8";
}

/* line 367, ../sass/style.scss */
.socicon-buffer:before {
  content: "9";
}

/* line 368, ../sass/style.scss */
.socicon-rss:before {
  content: ",";
}

/* line 369, ../sass/style.scss */
.socicon-vkontakte:before {
  content: ";";
}

/* line 370, ../sass/style.scss */
.socicon-disqus:before {
  content: ":";
}
